<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {% block title %}
            {% if page_title %}{{ page_title }} - {% endif %}
            {{ site_name }}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/media/css.css" />
</head>
<body>
    {% block site_wrapper %}{% endblock %}
</body>
</html>